ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

li {
    width: 300px;
    height: 45vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    border: 1px black solid;
    border-radius: 20px;
    font-size: 50px;
}

li:nth-child(1) {
    background: url('html.png') no-repeat;
    background-position: 0% 100%;
}
li:nth-child(2) {
    background: url('html.png') no-repeat;
    background-position: 50% 100%;
}
li:nth-child(3) {
    background: url('html.png') no-repeat;
    background-position: 100% 100%;
}
